<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to AHBnB</h1>
    <h2>Search for a property</h2>
    <form
      action="/properties"
      method="get">
      <input type="submit" value="search" />
    </form>
  </body>
</html>
